
    <div class="dentro-header">
        <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">

        <div class="nav-bar">
            <nav><!--nav> style="justify-content: space-around;"> -->
                <%- include('./nav-general.ejs'); -%>
                <br>
                <br>
                
                <nav class="navbar_horflex nav-estilo-productos">
                    <ul style="border: 1px solid purple; padding: 3px;">
                        <li><a href="/productos/listar"><li>Listar Productos</li></a></li>
                        <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                    </ul>
                    <ul style="border: 1px solid purple; padding: 3px;">
                        <li><a href="/productos/linea/listar"><li>Listar Líneas</li></a></li>
                        <li><a href="/productos/linea/agregar"><li>Agregar Líneas</li></a></li>
                        <li><a href="/productos/linea/modificar"><li>Modificar Líneas</li></a></li>
                        <li><a href="/productos/linea/eliminar"><li>Eliminar Líneas</li></a></li>
                    </ul>
                </nav>
                                         
            </nav>
        </div>

        <div>
            <%- include('./nav-usuarios.ejs'); -%>
            <br>
            <% if ( locals.usuarioLogueado != undefined ) { %>
                <strong><%= locals.usuarioLogueado %></strong>
                <strong> |<%= locals.usuarioPerfil %>| </strong>
            <% } %>       
        </div>
        
    </div>

    <%- include('./menu-burger.ejs'); -%>

    <%- include('./buscardor-productos.ejs'); -%>
