<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>
   
    <header class="flex-vertical">
        <%- include('./partials/header-Comprador.ejs'); -%>
    </header>
    
   <body>
        <main class="flex-vertical">

            <div class="listacarrito">

                <form action="/usuarios/carrito/comprar" method="POST">
                    <table style="width: 37vw">
                        <% if ( carrito.length == 0 ) { %> 
                            <tr><td><h4>Tú carrito está vacío</h3></td></tr>
                            <thead>
                                <tr style="border: 1px solid purple; border-collapse: collapse;width: 75%;">
                                    <td style="border: 1px solid purple; border-collapse: collapse;width: 50%;">Producto</td>
                                    <td style="border: 1px solid purple; border-collapse: collapse;width: 10%;">Cantidad</td>
                                    <td style="border: 1px solid purple; border-collapse: collapse;width: 20%;"> P. Unit.</td>
                                    <td style="border: 1px solid purple; border-collapse: collapse;width: 20%;">Subtotal</td>
                                </tr>
                            </thead>
                            <tbody>
                        <%} else { %> 
                            <% for ( let i = 0; (carrito.length - i) > 0; i++ ) { %> 
                                <tr style="border: 1px solid purple; border-collapse: collapse; width: 20%;">
                                    <td  style="border: 1px solid purple; border-collapse: collapse;width: 20%; width: 50%">
                                        <a href='/usuarios/carrito/sacarItem/<%= carrito[i].id %>'><p><%= carrito[i].nombre %></p></a>
                                    </td>
                                    <td  style="border: 1px solid purple; border-collapse: collapse;width: 20%; width: 15%">
                                        <p><%= carrito[i].cantidad %></p>
                                    </td>
                                    <td  style="border: 1px solid purple; border-collapse: collapse;width: 20%; width: 20%">
                                        <p><%= carrito[i].precioU %></p>
                                    </td>
                                    <td  style="border: 1px solid purple; border-collapse: collapse;width: 20%;width: 30%">
                                        <p><%= (Number(carrito[i].precioU) * Number(carrito[i].cantidad)) %></p>
                                    </td>
                                </tr>
                            <% } %>    
                        <% } %>
                                <hr> <hr>
                                <tr><td><button type="submit">Pagar</button></td></tr>
                            </tbody>
                    </table>    
                </form>
                <form action="/usuarios/carrito/vaciar" method="POST">
                    <button type="submit">Vaciar Carrito</button>
                </form>
            </div>           
           
        </main>
    </body>
        <%- include( './partials/footer.ejs' ); -%>
</html>
