<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>

<header>
    <%- include('./partials/header-Vendedor.ejs'); -%>
</header>

<body>

    <main style="background-color: white">
        <!--<script>
            function setFocusEnCodigo() {
                document.getElementById('codigo').focus()
            }
        </script> -->
        <center>
            <div class=formCrudDeProducto>
                <form id="registro" class="registro" action="/productos/agregarProducto" method="POST" enctype="multipart/form-data">    
                    <table class="formTableCrudDeProducto">

                        <thead style="width: 100%;">
                            <tr><th><div style=" background-color: rgb(236, 214, 241); border-radius: 5px; padding: 3px;"><h3><p>Gestión de Productos - Cargar </p></h3></div></th></tr>
                        </thead>

                        <tbody style="width: 100%;">
                            <tr><td><label><span>Código de Producto</span></label></td></tr>
                            <tr><td><input type="text" name="codigo" id="codigo" class="codigo" placeholder="codigo"></td></tr>
                            <tr><td><div class="text-danger" id="codError"></div></td></tr>
                            <tr><td><% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.codigo != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.codigo.msg %></p>
                                <% } %>
                            <% } %> </td> </tr>
        
                            <tr><td><label><span>Nombre</span></label></td></tr>
                            <tr><td><input type="text" name="nombre" id="nombre" class="nombre" placeholder="nombre"></td></tr>
                            <tr><td> <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.nombre != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.nombre.msg %></p>
                                <% } %>
                            <% } %> </td> </tr>
        
                            <tr><td><label><span>Descripción</span></label></td></tr>
                            <tr><td><input type="text" name="descripcion" id="descripcion" class="descripcion"  placeholder="descripción"></td></tr>
                            <tr><td><% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.descripcion != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.descripcion.msg %></p>
                                <% } %>
                            <% } %> </tr> </td>

                            <tr><td><label><span>Línea</span></label></td></tr>
                            <tr>
                                <td>
                                    <select id="linea" name="linea" id="linea" class="linea">
                                        <% for( let i = 0; (lineas.length - i) > 0; i++ ) { %>
                                            <option value="<%= lineas[i].id_lineas%>"> <%= lineas[i].nombre%></option>
                                        <% } %>
                                        <% if ( locals && locals.resultadoValidaciones ) { 
                                            if ( resultadoValidaciones.linea!= undefined) { %>
                                            <p class="feedback"> <%= resultadoValidaciones.linea.msg %></p>
                                               <% } %>
                                           <% } %>
                                          </td></tr> 
                                </td>
                            </tr>

                            <tr><td><label><span>Precio</span></label></td></tr>
                            <tr><td><input type="text" name="precio" id="precio" class="precio"  placeholder="$"></td></tr>
                                    <tr><td>
                                <% if ( locals && locals.resultadoValidaciones ) { 
                                    if ( resultadoValidaciones.precio != undefined ) { %>
                                        <p class="feedback"> <%= resultadoValidaciones.precio.msg %> </p>
                                    <% } %>
                                <% } %>
                            </td></tr>
                            <tr><td><label><span>Bonificación</span></label></td></tr>
                            <tr><td><input type="text" name="bonif" id="bonif" class="bonif"  placeholder="%"></td></tr>
                            <tr><td>
                                <% if ( locals && locals.resultadoValidaciones ) { 
                                    if ( resultadoValidaciones.bonif != undefined ) { %>
                                        <p class="feedback"> <%= resultadoValidaciones.bonif.msg %> </p>
                                    <% } %>
                                <% } %>
                            </td></tr>

                            <tr><td><label><span>Cantidad</span></label></td></tr>
                            <tr><td><input type="text" name="cantidad" id="cantidad" class="cantidad"  placeholder="stock"></td></tr>
                            <tr><td>
                                <% if ( locals && locals.resultadoValidaciones ) { 
                                    if ( resultadoValidaciones.cantidad != undefined ) { %>
                                        <p class="feedback"> <%= resultadoValidaciones.cantidad.msg %> </p>
                                    <% } %>
                                <% } %>
                            </td></tr>
        
                            <tr><td><label><h3><span>Foto de Producto</span></h4></label></td></tr>
                            <tr><td><input type="file" name="foto" id="foto" class="foto"></td></tr>
                            <tr><td>
                                <% if ( locals && locals.resultadoValidaciones ) { %> 
                                    <p class="feedback"> <%= resultadoValidaciones.msg %> </p>
                                <% } %>    
                            </td></tr>

                            <tr><td><div style=" background-color: grey; border-radius: 5px; height: 1px;"></div></td></tr>
                        </tbody>

                    </table>
                    <button type="submit">Cargar Producto</button>

                </form>
                <div style=" background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                
                <tr><td><div style="width: 97%; background-color: grey; border-radius: 5px; height: 2px;"></div></td></tr>

            </div>           

        </center>      
        
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>

    <script src="/javascript/validarCargaProducto.js"></script>

</html>