<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>

    <header class="flex-vertical">
        <div class="dentro-header">
            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
            
            <div class="nav-bar">
                <nav><!--nav> style="justify-content: space-around;"> -->
               
                            <!-- if NO SOY admin, muestro el menú de público -->
                            <ul type="none">
                            <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Promociones</a></li>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Ayuda</a></li>
                            </ul>
                            <br><br><br>
               
                            <!-- else soy admin, muestro el menú protegido de ABM de productos -->
                            <nav>
                                <nav  class="navbar_horflex nav-estilo-usuarios">
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/listar"><li>Listar usuarios</li></a></li>
                                        <li><a href="/usuarios/registro"><li>Registrar Usuarios</li></a></li>
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/perfil/listar"><li>Listar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/agregar"><li>Agregar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/modificar"><li>Modificar Perfiles</li></a></li>
                                        <li><a href="/usuarios/perfil/eliminar"><li>Eliminar Perfiles</li></a></li>
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/usuarios/intereses/listar"><li>Listar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/agregar"><li>Agregar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/modificar"><li>Modificar Intereses</li></a></li>
                                        <li><a href="/usuarios/intereses/eliminar"><li>Eliminar Intereses</li></a></li>
                                    </ul>
                                </nav>
                                <br>
                                <nav class="navbar_horflex nav-estilo-productos">
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/productos/listar"><li>Listar Productos</li></a></li>
                                        <li><a href="/productos/productoAgregar">Productos - Agregar</a></li> 
                                    </ul>
                                    <ul style="border: 1px solid purple; padding: 3px;">
                                        <li><a href="/productos/linea/listar"><li>Listar Líneas</li></a></li>
                                        <li><a href="/productos/linea/agregar"><li>Agregar Líneas</li></a></li>
                                        <li><a href="/productos/linea/modificar"><li>Modificar Líneas</li></a></li>
                                        <li><a href="/productos/linea/eliminar"><li>Eliminar Líneas</li></a></li>
                                    </ul>
                                </nav>
                            </nav>
                                         
                </nav>
            </div>
            
            <div class="login-registro">
                <a href="/usuarios/login">Logging</a>    
                <a href="/usuarios/logout">Salir</a>   
                <a href="/usuarios/registro">Registrate</a>
                <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>
                
                    
                
            </div>

        </div>

        <div class="menu-burger">
            <i class="fas fa-bars"></i>
        </div>

        <div class="buscador">
            <form method="POST" action="/productos/buscar">
                <input class="buscador-input" type="text" name="buscado" placeholder="Que producto buscas?"></input>
                <button type="submit" ><i class="fas fa-search"></i></button>
            </form>
        </div>
        
    </header>

<body>

    <main style="background-color: white">
        <center>
            <div class=formCrudDeProducto>

                <table class="formTableCrudDeProducto">
                    <thead style="width: 100%;">
                        <tr><th><div style=" background-color: grey; border-radius: 5px;"><h3><p>Gestión de Productos - Modificar</p></h3></div></th></tr>
                    </thead>

                    <tbody>
                        <tr><td>
                            <form action="/productos/edit/<%= prodAModificar.idPrd %>" method="POST"  enctype="multipart/form-data">
                    
                                <table class="formTableCrudDeProducto">
                                    
                                    <tr><td><label><span>Código de Producto</span></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.codigo %>" type="text" name="codigo" class="codigo"></td></tr>
                                    <tr><td><% if ( locals && locals.resultadoValidaciones ) { 
                                        if ( resultadoValidaciones.codigo != undefined) { %>
                                            <p class="feedback"> <%= resultadoValidaciones.codigo.msg %></p>
                                        <% } %>
                                    <% } %> </td> </tr>

                                    <tr><td><label><span>Nombre</span></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.nombre %>" type="text" name="nombre" class="nombre"></td></tr>
                                    <tr><td> <% if ( locals && locals.resultadoValidaciones ) { 
                                        if ( resultadoValidaciones.nombre != undefined) { %>
                                            <p class="feedback"> <%= resultadoValidaciones.nombre.msg %></p>
                                        <% } %>
                                    <% } %> </td> </tr>

                                    <tr><td><label><span>Descripción Detallada</span></label></td></tr>
                                    <tr><td><input  value="<%= prodAModificar.descripcion %>" type="text" name="descripcion" class= "descripcion"></td></tr>
                                   <tr><td><% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.descripcion != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.descripcion.msg %></p>
                                <% } %>
                            <% } %> </tr> </td>

                                    <tr><td><label><span>Línea</span></label></td></tr>
                                    <tr>
                                        <td>
                                            <select id="linea" name="linea">
                                                <% for( let i = 0; (lineas.length - i) > 0; i++ ) { %>
                                                    <option value="<%= lineas[i].id_lineas%>"> <%= lineas[i].nombre%></option>
                                                <% } %>
                                                <% if ( locals && locals.resultadoValidaciones ) { 
                                                    if ( resultadoValidaciones.linea!= undefined) { %>
                                                    <p class="feedback"> <%= resultadoValidaciones.linea.msg %></p>
                                                       <% } %>
                                                   <% } %>
                                        </td>
                                    </tr>
        
                                    <tr><td><label><span>Precio</span></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.precio %>" type="text" name="precio" class="precio"></td></tr>
                                    <tr><td>
                                        <% if ( locals && locals.resultadoValidaciones ) { 
                                            if ( resultadoValidaciones.cantidad != undefined ) { %>
                                                <p class="feedback"> <%= resultadoValidaciones.cantidad.msg %> </p>
                                            <% } %>
                                        <% } %>

                                    </td></tr>

                                    <tr><td><label><span>Bonificación</span></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.bonif %>" type="text" name="bonif" class="bonif"></td></tr>
                                    <tr><td>
                                        <% if ( locals && locals.resultadoValidaciones ) { 
                                            if ( resultadoValidaciones.bonificacion != undefined ) { %>
                                                <p class="feedback"> <%= resultadoValidaciones.bonificacion.msg %> </p>
                                            <% } %>
                                        <% } %>

                                    </td></tr> 

                                    <tr><td><label><span>Cantidad</span></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.cantidad %>" type="text" name="cantidad" class="cantidad"></td></tr>
                                   <tr><td>
                                    <% if ( locals && locals.resultadoValidaciones ) { 
                                        if ( resultadoValidaciones.cantidad != undefined ) { %>
                                            <p class="feedback"> <%= resultadoValidaciones.cantidad.msg %> </p>
                                        <% } %>
                                    <% } %>

                                   </td></tr> 

                                    <tr><td><label><h3><span>Foto de Producto</span></h4></label></td></tr>
                                    <tr><td><input value="<%= prodAModificar.foto %>" type="file" name="foto" class="foto"></td></tr>
                                    <tr><td>
                                        <% if ( locals && locals.resultadoValidaciones ) { 
                                            if ( resultadoValidaciones.foto != undefined ) { %>
                                                <p class="feedback"> <%= resultadoValidaciones.foto.msg %> </p>
                                            <% } %>
                                        <% } %>

                                    </td></tr>
                
                                </table>

                            
                        </td></tr>

                    </tbody>
                </table>

                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>
                <div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                
                    <input type="submit" value="Modificar">
                    <input type="reset" value="Limpiar">
                </form>

                <div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>

            </div>           
        </center>      
        
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

    <script src="/javascript/validarModificarProducto.js"></script>

</body>
</html>