<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>

<header>
        <%- include('./partials/header-Vendedor.ejs'); -%>
</header>

<body>

    <main style="background-color: white">
        <center>
            <div class=formCrudDeProducto>

                <table class="formTableCrudDeProducto">
                    <thead style="width: 100%;">
                        <tr><th><div style=" background-color: rgb(236, 214, 241); border-radius: 5px; padding: 3px;"><h3><p>Gestión de Productos - Eliminar</p></h3></div></th></tr>
                    </thead>

                    <tbody>
                        <tr><td>
                            <table class="formTableCrudDeProducto">
                                <tbody style="width: 100%;">
                                    <tr><td><label><span>Código de Producto: <%= prodAEliminar.idPrd %></span></label></td></tr>
                                    <tr><td><label><span>Nombre: <%= prodAEliminar.nombre %></span></label></td></tr>  
                                            
                                </tbody>
                            </table>   
                        </td></tr>
                    </tbody>
                </table>

                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>
                <div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                <form action="/productos/productoDelete/<%= prodAEliminar.idPrd %>"" method="POST">   <!-- ?_method=DELETE atendido por router.delete('/delete', productController.eliminar);  -->                    
                    <input type="submit" value="Eliminar">
                </form>

                <div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div>
                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>

            </div>           
        </center>      
        
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>