<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>

<header>
    <% if ( usuarioLogueado != undefined ) { %>
        
        <% if ( usuarioPerfil == 'Administrador' ) { %>
            <%- include('./partials/header-Admin.ejs'); -%>
            
            <% } else if ( usuarioPerfil == 'Vendedor' ) { %>
                <%- include('./partials/header-Vendedor.ejs'); -%>

                <% } else if ( usuarioPerfil == 'Comprador' ) { %>
                    <%- include('./partials/header-Comprador.ejs'); -%>

                    <% } else { %> <!-- es invitado -->
                        <div class="dentro-header">
                            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                    
                            <div class="nav-bar">
                                <nav><!--nav> style="justify-content: space-around;"> -->
                                    <%- include('./partials/nav-general.ejs'); -%>                                         
                                </nav>
                            </div>
                    
                            <%- include('./partials/nav-usuarios.ejs'); -%>    
                        </div>
                <% } %>

    <% } else { %> <!-- usuario no loqueado -->
        <%- include('./partials/header.ejs'); -%>
    <% } %> 
    <%- include('./partials/menu-burger.ejs'); -%>
    <%- include('./partials/buscardor-productos.ejs'); -%>
    
</header>
    
<body>

    <main class="flex-vertical">
        
        <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">

        <div class="flex-Horizontal"> <!--cambie flex-vertical por horizontal, luego adaptamos-->
            <!---------------OFERTAS------------------->
            <div class=etiqueta-oferta>
                <p class="titulo-ofertas">Ofertas especiales</p>
                
            </div>

            <section class="Ofertas">
                                
                <% for(let i = 0; (listadoOfertas.length - i) > 0; i++) { %>

                    <article>
                        <div class="contenedor1">
                            <a href="/productos/detalle/<%= listadoOfertas[i].idPrd %>"><img style="width: 7em; height: 9em;" src=<%= listadoOfertas[i].foto %> alt=""></a>
                            <table>
                                <tr><td><p class="nombre"><%= listadoOfertas[i].nombre %></p></td></tr>
                                <tr>
                                    <td><p class="precios"><%= listadoOfertas[i].precio %></p></td>
                                    <td><p class="descuentos"><%= listadoOfertas[i].bonif %></p></td>
                                </tr>
                                <tr><td><i class="fas fa-cart-plus"></i></td></tr>
                            </table>
                        </div>
                    </article>

                <% } %>

            </section>
            
            <!-------------------Fin seccion scrollable de Ofertas----------------->
            
            <!---------------Seccion scrollable de promociones---Esta seccion la cambie por especial de abejas.---------------->
            
            <!--ETIQUETA ESPECIAL DE ABEJAS-->
            <div class=Etiqueta-Especial-Abejas>
              <p class="titulo-Especial-abejas">Especial de Abejas</p>
            </div>
            
            
            <!-----ABEJAS---->

            <section class="abejas">
                   
                <% for(let i = 0; (listado.length - i) > 0; i++) { %>

                    <article>
                        <div class="contenedor1">
                            <a href="/productos/detalle/<%= listado[i].idPrd %>"><img style="width: 7em; height: 9em;" src=<%= listado[i].foto %> alt=""></a>
                            <table>
                                <tr><td><p class="nombre"><%= listado[i].nombre %></p></td></tr>
                                <tr>
                                    <td><p class="precios"><%= listado[i].precio %></p></td>
                                    <td><p class="descuentos"><%= listado[i].bonif %></p></td>
                                </tr>
                                <tr><td><i class="fas fa-cart-plus"></i></td></tr>
                            </table>
                        </div>
                    </article>

                <% } %>        
            
            </section>
        </div>
        <!---------------IMAGENES AL CATALOGO------------------->
        <!--Caja de imagenes que conectan a los enlaces de categorias hogar-cuidado personal--producto abejas-->  
    
        
    <!-- Esto funciona, dirige a cada link pero sin efecto visual de hover  -->
    <section class=Imagenes-al-catalogo>
        <a title="Hogar" href="/productos/lineaHogar"><img class="imagenes-al-catalogo" src="/images/hogar.jpg" alt="Productos del Hogar" /></a>
        <a title="Cuidado Personal" href="/productos/lineaCuidadoPersonal"><img style="width: 423px; height: 300px" src="/images/cuidado-personal.jpg" alt="Produtos de cuidado Personal" /></a>
        <a title="Productos Abejas" href="/productos/lineaProductoDeLasAbejas"><img style="width: 423px; height: 300px" src="/images/productos-abejas.png" alt="Productos de las abejas" /></a>
    </section> 
    
    <!-- con efecto visual los links no funcionan, veo de resolver
    <section class=Imagenes-al-catalogo>

        <div class="example">
            <a title="Hogar" href="/productos/lineaHogar"><img class="imagenes-al-catalogo" src="/images/hogar.jpg" alt="Productos del Hogar"></a>
            <div class="content">
                <div class="text">Productos del Hogar</div>
            </div>
        </div>    
        
        <div class="example">
            <a title="Cuidado Personal" href="/productos/lineaCuidadoPersonal"><img style="width: 423px; height: 300px" src="/images/cuidado-personal.jpg" alt="Produtos de cuidado Personal"></a>
            <div class="content">
                <div class="text">Produtos de cuidado Personal</div>
            </div>
        </div>

        <div class="example">
            <a title="Productos Abejas" href="/productos/lineaProductoDeLasAbejas"><img style="width: 423px; height: 300px" src="/images/productos-abejas.png" alt="Productos de las abejas"></a>
            <div class="content">
                <div class="text">Productos de las abejas</div>
            </div>
        </div> 
    </section>  -->

    </main>

    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>