<!DOCTYPE html>
<html lang="en">
    <title> Linea Eliminar</title>

    <%- include('./partials/head.ejs') %>

<header class="flex-vertical">
    <%- include('./partials/header-Admin.ejs'); -%>
</header>

<body>

    <main>
   
        <center>
            <div class=formCrudDeLineas>

                <table class="formTableCrudDeProducto">
                    <thead style="width: 100%;">
                        <tr><th><div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3><p>Gestión de Productos - Eliminar Intereses</p></h3></div></th></tr>
                    </thead>

                    <tbody>
                        <tr><td>
                            <form action="/usuarios/intereses/eliminar" method="POST">  
                    
                                <table class="formTableCrudDeProducto">
                                    <tbody style="width: 100%;">
                                        <tr><td><label><span>Código de Interés</span></label></td></tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="intereses" value="<%= interesesAEliminar.id_intereses %>" required>
                                                <input type="submit" value="Seleccionar">
                                                <input type="reset" value="Limpiar">
                                            </td>
                                        </tr>  
                                    </tbody>
        
                                    <table class="formTableCrudDeProducto">
                                        <tbody style="width: 100%;">
                                            <tr><td><label><span>Código de Interés: <%= interesesAEliminar.id_intereses %></span></label></td></tr>
                                            <tr><td><label><span>Nombre: <%= interesesAEliminar.nombre %></span></label></td></tr>  
                                            
                                        </tbody>
                                    </table>
                                </table>

                            </form>
                        </td></tr>

                    </tbody>
                </table>

                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>
                <div style="background-color: rgb(172, 221, 188); padding-top: 4px; height: 3px; "></div>
                <form action="/usuarios/intereses/eliminar/<%= interesesAEliminar.id_intereses %>" method="POST"> 
                    <input type="submit" value="Eliminar">
                </form>

                <div style="background-color: rgb(172, 221, 188);; padding-top: 4px; height: 3px; "></div>
                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>

            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>