<!DOCTYPE html>
<html lang="en">
     
    <%- include('./partials/head.ejs'); -%>   

<header class="flex-vertical">
    <%- include('./partials/header-Admin.ejs'); -%>
</header>

    <body>
   
    <main class="flex-vertical">
        <div class="flex-vertical">
            <table>
                <thead>
                    <div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3>Gestión de Usuarios - Listado de Intereses</h3></div>
                    <tr style="border: 1px solid purple; border-collapse: collapse;width: 75%;">
                        <th style="border: 1px solid purple; text-align: center;padding: 8px;">ID</th>
                        <th style="border: 1px solid purple; text-align: center;padding: 8px;">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; (intereses.length - i) > 0; i++) { %>
                        <tr style="border: 1px solid purple; text-align: left;padding: 8px;"></tr>
                            <td style="border: 1px solid purple; text-align: left;padding: 8px;"><p><strong><%= intereses[i].id_intereses %> </p></strong></td>
                            <td style="border: 1px solid purple; text-align: left;padding: 8px;"><p><strong><%= intereses[i].nombre %></p></strong></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>
   
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>