<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>
 
<header>
    <%- include('./partials/header-Vendedor.ejs'); -%>
</header>    

<body> 
    
    <main class="flex-vertical">
        <div class="flex-vertical">
                <table style="border: 1px solid purple; border-collapse: collapse; width: 90%;">
                    <thead style="border: 1px solid purple; border-collapse: collapse;width: 75%;">
                        <tr style="border: 1px solid purple; border-collapse: collapse;width: 75%;">
                            <div style=" background-color: rgb(236, 214, 241); border-radius: 5px; padding: 3px;"><h3><p>Listado de Productos</p></h3></div>
                        </tr>
                        <tr>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">ID</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Cod. Prod.</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Nombre de Producto</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Descripción</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Precio</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Bonif.</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Cantidad</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Imágen</th>
                            <th style="border: 1px solid violet; text-align: center;padding: 8px;">Gestión</th>

                        </tr>
                    </thead>
                    <tbody style="border: 1px solid violet; border-collapse: collapse; width: 90%;">
                        <% for( let i = 0; (productosEncontrados.length - i) > 0; i++) { %>                        
                            <tr style="border: 1px solid violet; border-collapse: collapse; width: 75%;">
                                <td style="border: 1px solid violet; text-align: center; padding: 8px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"><p><strong><%= productosEncontrados[i].idPrd %>)_  </p></strong></a></td>
                                <td style="border: 1px solid violet; text-align: center; font-size: small; padding: 8px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"><p><strong><%= productosEncontrados[i].codigo %>  </p></strong></a></td>
                                <td style="border: 1px solid violet; text-align: left; padding: 8px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"><p><strong><%= productosEncontrados[i].nombre %> </p></strong></a></td>
                                <td style="border: 1px solid violet; text-align: left; padding: 8px;"><p><strong><%= productosEncontrados[i].descripcion %></p></strong></td>
                                <td style="border: 1px solid violet; text-align: right; padding: 8px;"><p><strong><%= productosEncontrados[i].precio %></p></strong></td>
                                <td style="border: 1px solid violet; text-align: center; padding: 8px;"><p><strong><%= productosEncontrados[i].bonif %></p></strong></td>
                                <td style="border: 1px solid violet; text-align: right; padding: 8px;"><p><strong><%= productosEncontrados[i].cantidad %></p></strong></td>
                                <td style="border: 1px solid violet; text-align: center; padding: 8px;"><img style="width: 39px;" src="<%= productosEncontrados[i].foto %>" alt="Foto de Producto"></td>
                                <td style="border: 1px solid violet;text-align: center; padding: 8px;"><table style="border: 1px solid purple; border-collapse: collapse;width: 100%;">
                                    <tr style="border: 1px solid violet; text-align: left;">
                                        <td style="border: 1px solid violet; text-align: left;padding: 8px;"><a href="/productos/productoModificar/<%= productosEncontrados[i].idPrd %>">Modificar</a></td>
                                        <td style="border: 1px solid violet; text-align: left;padding: 8px;"><a href="/productos/productoDelete/<%= productosEncontrados[i].idPrd %>">Eliminar</a></td>
                                    </tr>
                                </table>
                            </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

        </div>
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>