<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>   <body> 

<header class="flex-vertical">        
    <%- include('./partials/header-Admin.ejs'); -%>    
</header>
    
    <main class="flex-vertical">
        <div class="flex-vertical">
            <form method="POST" action="/usuarios/listar">
            <% for( let i = 0; (usuarios.length - i) > 0; i++) { %>
                <table style="border:2px solid rgb(161, 161, 236) ;">
                    <thead>
                        <tr>
                            
                                <td style="text-align: center; border:2px solid rgb(161, 161, 236) ; padding: 5px;">Id</td>
                                <td style="text-align: center; border:2px solid rgb(161, 161, 236) ; padding: 5px;" >Usuario</td>
                                <td style="text-align: center; border:2px solid rgb(161, 161, 236) ; padding: 5px; ">Email</td>
                                <td style="text-align: center; border:2px solid rgb(161, 161, 236) ; padding: 5px;">Perfil</td> 
                                <td style="text-align: center; border:2px solid rgb(161, 161, 236) ; padding: 5px;">Intereses</td>
                            
                        </tr>
                    </thead>
                    <tr>
                        <td style="text-align: center; border:2px solid rgb(161, 161, 236) ;"><p style="padding: 5px;"><strong><%= usuarios[i].idUsr %>  </p></strong></td>
                        <td style="text-align: center; border:2px solid rgb(161, 161, 236) ;"><p style="padding: 5px;"><strong><%= usuarios[i].usuario %>  </p></strong></td>
                        <td style="text-align: center; border:2px solid rgb(161, 161, 236) ;"><p style="padding: 5px;"><strong><%= usuarios[i].email %>  </p></strong></td>
                        <td style="text-align: center; border:2px solid rgb(161, 161, 236) ;"><p style="padding: 5px;"><strong><%= usuarios[i].id_perfil %>  </p></strong></td>
                        <td style="text-align: center; border:2px solid rgb(161, 161, 236) ;"><p style="padding: 5px;"><strong> <%= usuarios[i].id_intereses %>  </p></strong></td>
                       
                    </tr>
                </table>
            <% } %>
        </div>
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>