<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>
<header>
    <%- include('./partials/header-Vendedor.ejs'); -%>
</header>    
    
<body> 
    
    <main class="flex-vertical">
        <div class="flex-vertical">
            <div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3><p>Gestión de Productos - Listado de Líneas</p></h3></div>
            <% for( let i = 0; (lineas.length - i) > 0; i++) { %>
                <table>
                    <tr>
                        <td><p><strong><%= lineas[i].id_lineas %>)_ </p></strong></td>
                        <td><p><strong><%= lineas[i].nombre %></p></strong></td>
                    </tr>
                </table>
            <% } %>
        </div>
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>