<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>

<header>
    <%- include('./partials/header-Admin.ejs'); -%>
</header>

<body> 
    
    <main class="flex-vertical">
        <div class="flex-vertical">
            <div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3><p>Gestión de Usuarios</p></h3></div>
            <table>
                <tr style="border: 1px solid purple; border-collapse: collapse;width: 75%;">
                    <th style="border: 1px solid purple; text-align: center;padding: 8px;">ID</th>
                    <th style="border: 1px solid purple; text-align: center;padding: 8px;">Nombre de Usuario</th>
                    <th style="border: 1px solid purple; text-align: center;padding: 8px;">E-mail</th>
                    <th style="border: 1px solid purple; text-align: center;padding: 8px;">Foto de Perfil</th>
                    <th style="border: 1px solid purple; text-align: center;padding: 8px;">Gestión</th>
                </tr>
                <% for( let i = 0; (listaDeUsuarios.length - i) > 0; i++) { %>
                    <tr style="border: 1px solid purple; text-align: left;padding: 8px;">
                        <td style="border: 1px solid purple; text-align: left;padding: 8px;"><p><strong><%= listaDeUsuarios[i].idUsr %> </p></strong></td>
                        <td style="border: 1px solid purple; text-align: left;padding: 8px;"><p><strong><%= listaDeUsuarios[i].usuario %> </p></strong></td>
                        <td style="border: 1px solid purple; text-align: left;padding: 8px;"><p><strong><%= listaDeUsuarios[i].email %> </p></strong></td>
                        <td style="border: 1px solid purple;text-align: center;padding: 8px;"><img style="width: 35px;" src="<%= listaDeUsuarios[i].foto %>" alt="Foto de perfil"></td>
                        <td style="border: 1px solid purple;text-align: center;padding: 8px;"><table style="border: 1px solid purple; border-collapse: collapse;width: 100%;">
                                <tr style="border: 1px solid purple; text-align: left;">
                                    <td style="border: 1px solid purple; text-align: left;padding: 8px;"><a href="/usuarios/modificar/<%= listaDeUsuarios[i].idUsr %>">Modificar</a></td>
                                    <td style="border: 1px solid purple; text-align: left;padding: 8px;"><a href="/usuarios/eliminar/<%= listaDeUsuarios[i].idUsr %>">Eliminar</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                
                <% } %>
            </table>        
        </div>
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>
