<!DOCTYPE html>
<html lang="en">
    <title>Login</title>

    <%- include('./partials/head.ejs') %>

<body>

    <%- include( './partials/header.ejs' ) %>  
  
    <main>
        <!--
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>
        -->
        <center>
            <div style='width: 33%'>
                <br>
                <h3>Ingresar</h3><br>
                <hr>
                <br>
                <form method="POST" action="/usuarios/login">
                    <label>Usuario</label>
                    <input type="email" id="email" name="email"> 
                    <!--<% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.email != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.email.msg %></p>
                        <% } %>
                    <% } %> -->
                                                   
                    <br>
                    <label>Contraseña</label>
                    <input type="password" id="password" name="password"> 
                    <!--<% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.password != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.password.msg %></p>
                        <% } %>
                    <% } %> -->
                                                
                    <br><br>
                    <input type="checkbox" name="recordarme" id="recordarme">
                    <label for="recordarme">Mantenerme Logueado</label>

                    <br><br>
                    <button type="submit" class="btn btn-personalizado btn-lg btn-block" id="submit" name="submit" title="Ingresar">Ingresar</button>        
                    <br><br>
                    <hr>
                    <br>
                </form>
            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>