<!DOCTYPE html>
<html lang="en">
    <title>Login</title>

    <%- include('./partials/head.ejs') %>

<header>
    <%- include('./partials/header.ejs'); -%>
    <%- include('./partials/menu-burger.ejs'); -%>
    <%- include('./partials/buscardor-productos.ejs'); -%>
</header>
        
<body>
    <main>
        <center>
           
            <div style='width: 33%'>
                <br>
                <h3>Ingresar</h3><br>
                <hr>
                <br>
                <form method="POST" action="/usuarios/login">
                    <label>Usuario</label>
                    <input type="email" id="email" name="usuario"> 
                    <% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.usuario != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.usuario.msg %></p>
                        <% } %>
                    <% } %> 
                                                   
                    <br>
                    <label>Contraseña</label>
                    <input type="password" id="password" name="password"> 
                    <% if ( locals && locals.resultadoValidaciones ) {
                        if ( resultadoValidaciones.password != undefined )  { %>
                            <p class="feedback"> <%= resultadoValidaciones.password.msg %></p>
                        <% } %>
                    <% } %> 

                    <% if ( locals && locals.resultadoValidaciones ) { 
                        if ( resultadoValidaciones.validarUsuario != undefined) { %>
                            <p class="feedback"> <%= resultadoValidaciones.msg %></p>
                        <% } %>
                    <% } %>
                                           
                    <br><br>
                    <input type="checkbox" name="recordarme" id="recordarme">
                    <label for="recordarme">Mantenerme Logueado</label>

                    <br><br>
                    <button type="submit" class="btn btn-personalizado btn-lg btn-block" id="submit" name="submit" title="Ingresar">Ingresar</button>        
                    <br><br>
                    <hr>
                    <br>
                </form>
            </div>
           
        </center>
    </main>
</body>
    <%- include( './partials/footer.ejs' )%>
</html>