<!DOCTYPE html>
<html lang="en">
    <title> PerfilEliminar</title>

    <%- include('./partials/head.ejs') %>

<header class="flex-vertical">        
    <%- include('./partials/header-Admin.ejs'); -%>    
</header>

<body>

    <main>
        <!--
        <section>
            <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
        </section>
        -->
        <center>
            <div class=formCrudDeLineas>

                <table class="formTableCrudDeProducto">
                    <thead style="width: 100%;">
                        <tr><th><div style=" background-color: gold; border-radius: 5px; padding: 3px;"><h3><p>Gestión de Usuarios - Eliminar Perfil</p></h3></div></th></tr>
                    </thead>

                    <tbody>
                        <tr><td>
                            <form action="/usuarios/perfil/eliminar" method="POST">    <!-- atendido por router.post('/delete', productController.traerParaConfirmar) -->
                    
                                <table class="formTableCrudDeProducto">
                                    <tbody style="width: 100%;">
                                        <tr><td><label><span>Código de Perfil</span></label></td></tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="perfil" value="<%= perfilAEliminar.id_perfil %>" required>
                                                <input type="submit" value="Seleccionar">
                                                <input type="reset" value="Limpiar">
                                            </td>
                                        </tr>  
                                    </tbody>
        
                                    <table class="formTableCrudDeProducto">
                                        <tbody style="width: 100%;">
                                            <!--  <tr><tr><td><div style="background-color: grey; border-radius: 5px; height: 2px;"></div></td></tr></tr> -->
                                            <tr><td><label><span>Código de perfil: <%= perfilAEliminar.id_perfil %></span></label></td></tr>
                                            <tr><td><label><span>Nombre: <%= perfilAEliminar.nombre %></span></label></td></tr>  
                                            
                                        </tbody>
                                    </table>
                                </table>

                            </form>
                        </td></tr>

                    </tbody>
                </table>

                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>
                <div style="background-color: rgb(172, 221, 188);; padding-top: 4px; height: 3px; "></div>
                <form action="/usuarios/perfil/eliminar/<%= perfilAEliminar.id_perfil %>" method="POST">   <!-- ?_method=DELETE atendido por router.delete('/delete', productController.eliminar);  -->                    
                    <input type="submit" value="Eliminar">
                </form>

                <div style="background-color: rgb(172, 221, 188);; padding-top: 4px; height: 3px; "></div>
                <div style="background-color: grey; border-radius: 5px; height: 2px;"></div>

            </div>
           
        </center>

    </main>

</body>
    <%- include( './partials/footer.ejs' )%>
</html>