<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head.ejs') %>

<header>
    <%- include( './partials/header.ejs' ) %>  
</header>
    
    <body>
                 
        <main class="register">

            <center style="background-color:lightblue;">
                <h3> Completá tus datos</h3>

                <form action="/usuarios/registroGrabar" method="POST" enctype="multipart/form-data" class="cargaProducto">
                    <div class="flex-vertical">
                        <label>Nombre y Apellido</label>
                        <input type="text" name="nombre" class='nombre' value="<% locals.datosAnteriores && datosAnteriores.nombre ? datosAnteriores.nombre : '' %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.nombre != undefined) { %>
                                <p class="feedback"> <%= resultadoValidaciones.nombre.msg %></p>
                            <% } %>
                        <% } %>
 
                        <label>Nombre de Usuario</label>
                        <input type="text" name="user" class="user" value="<% locals.datosAnteriores.user %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.user != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.user.msg %></p>
                            <% } %>    
                        <% } %>

                        <label>Dirección de E-mail</label>
                        <input type="email" name="email" class="email" value="<% locals.datosAnteriores.email %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.email != undefined ) { %>
                                <p class="feedback"><%= resultadoValidaciones.email.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                      
                    <div class= "fecha">  
                        <label for="birth_date">Fecha de Nacimiento</label>
                        <input type="date" name="birth_date" class="birth_date" value="<% locals.datosAnteriores.birth_date %>">
                        <% if ( locals && locals.resultadoValidaciones ) {
                            if ( resultadoValidaciones.birth_date != undefined )  { %>
                                <p class="feedback"> <%= resultadoValidaciones.birth_date.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
              
                    </div>
                        <label>Nro. de Documento</label>
                        <input type="text" name="dni" class="dni" value="<% locals.datosAnteriores.documento %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.dni != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.dni.msg %></p>
                            <% } %>
                        <% } %>
                    </div>

                    <div>
                        <label>Domicilio</label>
                        <input type="text" name="addres" class="addres" value="<% locals.datosAnteriores.addres %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.addres != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.addres.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                
                    <div class="flex-vertical">
                        <h4>Perfil del usuario</h4>
                        <div class="perfil">
                            <% for( let i = 0; (perfiles.length - i) > 0; i++ ) { %>
                                <input type="radio" name="perfil" class="uperfil" value="<%= perfiles[i].id_perfil %>" id="<%= perfiles[i].id_perfil %>">
                                <label for="<%= perfiles[i].nombre %>"><%= perfiles[i].nombre %></label>
                            <% } %>
                            <% if ( locals && locals.resultadoValidaciones ) { %>
                                <% if ( resultadoValidaciones.perfil != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.perfil.msg %></p>
                                <% } %>    
                            <% } %>
                        </div>
                    </div>
                
                    <div class="flex-vertical">
                        <h4>Intereses</h4>
                        <div class="intereses">
                            <div>
                                <% for( let i = 0; (intereses.length - i) > 0; i++ ) { %>
                                    <input type="checkbox" name="intereses" class="uinteres" value="<%= intereses[i].id_intereses %>" id="<%= intereses[i].id_intereses %>">
                                    <label for="hogar"><%= intereses[i].nombre %></label>
                                <% } %>
                            </div>
                            <% if ( locals && locals.resultadoValidaciones ) { %>
                                <% if ( resultadoValidaciones.intereses != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.intereses.msg %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                   
                    <div class="flex-vertical">
                        <h4>Elegí tu foto de usuario</h4>
                        <input type="file" name="foto" value="<% locals.datosAnteriores.foto %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.foto != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.foto.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                
                    <div class="flex-vertical">
                        <label>Elegí una Contraseña</label>       
                        <input type="password" name="pass" class="pass" value="<% locals.datosAnteriores.pass %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.pass != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.pass.msg %></p>
                            <% } %>
                        <% } %>
                        <label>Reingresá la Contraseña</label>
                        <input type="password" name="pass_confirm" class="pass_confirm" value="<% locals.datosAnteriores.pass_confirm %>">
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.pass_confirm != undefined) { %>
                                <p class="feedback"> <%= resultadoValidaciones.pass_confirm.msg %></p>
                            <% } %>
                        <% } %>
                    </div>       
                        
                    <div>
                        <input type="checkbox" name="privacidad" class="privacidad">
                        <label for="privacidad">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
                        <% if ( locals && locals.resultadoValidaciones ) {
                            if ( resultadoValidaciones.privacidad != undefined )  { %>
                                <p class="feedback"> <%= resultadoValidaciones.privacidad.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                  
                    <button type="submit" value="enviar">Grabar</button>
                    <button type="reset" value="limpiar">Limpiar</button>         
                </form>
    
            </center>

            <script src="/javascript/validarRegistro.js"></script>

        </main>
    </body>
        <%- include( './partials/footer.ejs' ) %>
</html>