<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs'); -%>

<header>
    <%- include('./partials/header-Admin.ejs'); -%>
</header>

<body>

    <main style="background-color: white">
        <center>
            <div class=formCrudDeProducto>

                <table class="formTableCrudDeProducto">
                    <thead style="width: 100%;">
                        <tr><th><div style=" background-color: grey; border-radius: 5px;"><h3><p>Gestión de Usuarios - Eliminar</p></h3></div></th></tr>
                    </thead>
                    <tbody>
                        <tr><td><div style="background-color: grey; border-radius: 5px; height: 2px;"></div></td></tr>
                        <tr><td><div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div></td></tr>
                        
                        <tr><td>
                            <form action="/usuarios/eliminarGrabar/<%= userAEliminar.idUsr %>" method="POST" class="eliminarUsuario">
                                <tr><td>
                                    <table class="formTableCrudDeProducto">
                                        <tbody style="width: 100%;">
                                            <tr><td><label><span>Id de Usuario: <%= userAEliminar.idUsr %></span></label></td></tr>
                                            <tr><td><label><span>Nombre: <%= userAEliminar.usuario %></span></label></td></tr>  
                                            <tr><td><input type="submit" value="Eliminar"></td></tr>             
                                        </tbody>
                                    </table>
                                </td></tr>
                                
                            </form>
                        </td></tr>
                        <tr><td><div style="background-color: whitesmoke; padding-top: 4px; height: 3px; "></div></td></tr>
                        <tr><td><div style="background-color: grey; border-radius: 5px; height: 2px;"></div></td></tr>
                    </tbody>
                </table>

            </div>           
        </center>      
        
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

    <script src="/javascript/validarEliminarUsuario.js"></script>

</body>
</html>