<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head.ejs') %>

        <header>
            <%- include('./partials/header-Admin.ejs'); -%>
        </header>
        
    <body>
                 
        <main class="register">
            <!--
            <section>
                <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
            </section>
            -->
            
            <center style="background-color:lightblue;">
                <h3> Gestión de Usuarios - Modificar Usuario</h3>   
                                
                <form action="/usuarios/modificarGrabar/<%= usuarioSeleccionado.idUsr %>" method="POST" enctype="multipart/form-data">
                    <div class="flex-vertical">
                        <label>Usuario</label>
                        <% if( usuarioSeleccionado != undefined ) { %>
                            <input type="text" name="user" class="user" value="<%= usuarioSeleccionado.usuario %>">
                        <% } else { %>
                            <input type="text" name="user" class="user" value="<% locals.datosAnteriores.user %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.user != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.user.msg %></p>
                                <% } %>    
                            <% } %>
                        <% } %>

                        <label>Dirección de E-mail</label>
                        <% if( usuarioSeleccionado != undefined ) { %> 
                            <input type="email" name="email" class="email" value="<%= usuarioSeleccionado.email %>">
                        <% } else { %>    
                            <input type="email" name="email" class="email" value="<% locals.datosAnteriores.email %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.email != undefined ) { %>
                                    <p class="feedback"><%= resultadoValidaciones.email.msg %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    
                    <div class="flex-vertical">
                        <h4>Perfil del usuario</h4>
                        <div class="perfil">
                            <% for( let i = 0; (perfiles.length - i) > 0; i++ ) { %>
                                <input type="radio" name="perfil" class="uperfil" value="<%= perfiles[i].id_perfil %>" id="<%= perfiles[i].id_perfil %>">
                                <label for="<%= perfiles[i].nombre %>"><%= perfiles[i].nombre %></label>
                            <% } %>
                            <% if ( locals && locals.resultadoValidaciones ) { %>
                                <% if ( resultadoValidaciones.perfil != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.perfil.msg %></p>
                                <% } %>    
                            <% } %>
                        </div>
                    </div>
                    <div class="flex-vertical">
                        <h4>Intereses</h4>
                        <div class="intereses">
                            <div>
                                <% for( let i = 0; (intereses.length - i) > 0; i++ ) { %>
                                    <input type="checkbox" name="intereses" class="uinteres" value="<%= intereses[i].id_intereses %>" id="<%= intereses[i].id_intereses %>">
                                    <label for="hogar"><%= intereses[i].nombre %></label>
                                <% } %>
                            </div>
                            <% if ( locals && locals.resultadoValidaciones ) { %>
                                <% if ( resultadoValidaciones.intereses != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.intereses.msg %></p>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                
                    <div class="flex-vertical">
                        <h4>Elegí tu foto de usuario</h4>
                        <% if( usuarioSeleccionado != undefined ) { %>
                            <input type="file" name="foto" class="foto" value="<% locals.usuarioSeleccionado.foto %>"> 
                        <% } else { %>
                            <input type="file" name="foto" class="foto" value="<% locals.datosAnteriores.foto %>">
                        <% } %>       
                        <% if ( locals && locals.resultadoValidaciones ) { 
                            if ( resultadoValidaciones.foto != undefined ) { %>
                                <p class="feedback"> <%= resultadoValidaciones.foto.msg %> </p>
                            <% } %>
                        <% } %>
                    </div>
                
                    <div class="flex-vertical">
                        <label>Elegí una Contraseña</label>    
                        <% if( usuarioSeleccionado != undefined ) { %>   
                            <input type="password" name="pass" class="pass" value="<% usuarioSeleccionado.pass %>">
                        <% } else { %> 
                            <input type="password" name="pass" class="pass" value="<% locals.datosAnteriores.pass %>">        
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.pass != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.pass.msg %></p>
                                <% } %>
                            <% } %>        
                        <% } %>
                        <label>Reingresá la Contraseña</label>
                        <% if( usuarioSeleccionado != undefined ) { %>   
                            <input type="password" name="pass_confirm" class="pass_confirm" value="<% locals.datosAnteriores.pass_confirm %>">
                        <% } else { %> 
                            <input type="password" name="pass_confirm" class="pass_confirm" value="<% locals.datosAnteriores.pass_confirm %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.pass_confirm != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.pass_confirm.msg %></p>
                                <% } %>
                            <% } %>    
                        <% } %>
                    </div>       
                        
                    <div>
                        <input type="checkbox" name="privacidad" id="privacidad">
                        <label for="privacidad">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
                        <% if ( locals && locals.resultadoValidaciones ) {
                            if ( resultadoValidaciones.privacidad != undefined )  { %>
                                <p class="feedback"> <%= resultadoValidaciones.privacidad.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                  
                    <button type="submit" value="enviar">Grabar</button>
                    <button type="reset" value="limpiar">Limpiar</button>         
                </form>    
            </center>
            <script src="/javascript/validarModificarUsuarios.js"></script>
            
        </main>
    </body>
        <%- include( './partials/footer.ejs' ) %>
</html>