<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head.ejs') %>
    
    <body>

        <header class="flex-vertical">
            <div class="dentro-header">
                <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                
                <div class="nav-bar">
                    <nav><!--nav> style="justify-content: space-around;"> -->
                   
                                <!-- if NO SOY admin, muestro el menú de público -->
                                <ul type="none">
                                <!--el views de linea hogar cambiarlo por el de categoria cuando se tenga listo su html-->
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Promociones</a></li>
                                <li><a href="#">Ofertas</a></li>
                                <li><a href="#">Ayuda</a></li>
                                </ul>
                                <br><br><br>
                   
                                <!-- else soy admin, muestro el menú protegido de ABM de productos -->
                                <nav>
                                    <nav  class="navbar_horflex nav-estilo-usuarios">
                                        <ul style="border: 1px solid purple; padding: 3px;">
                                            <li><a href="/usuarios/listar"><li>Listar usuarios</li></a></li>
                                            <li><a href="/usuarios/registro"><li>Registrar Usuarios</li></a></li>
                                            <li><a href="/usuarios/modificar"><li>Modificar Usuarios</li></a></li>
                                            <li><a href="/usuarios/eliminar"><li>Eliminar Usuarios</li></a></li>
                                        </ul>
                                        <ul style="border: 1px solid purple; padding: 3px;">
                                            <li><a href="/usuarios/perfil/listar"><li>Listar Perfiles</li></a></li>
                                            <li><a href="/usuarios/perfil/agregar"><li>Agregar Perfiles</li></a></li>
                                            <li><a href="/usuarios/perfil/modificar"><li>Modificar Perfiles</li></a></li>
                                            <li><a href="/usuarios/perfil/eliminar"><li>Eliminar Perfiles</li></a></li>
                                        </ul>
                                        <ul style="border: 1px solid purple; padding: 3px;">
                                            <li><a href="/usuarios/intereses/listar"><li>Listar Intereses</li></a></li>
                                            <li><a href="/usuarios/intereses/agregar"><li>Agregar Intereses</li></a></li>
                                            <li><a href="/usuarios/intereses/modificar"><li>Modificar Intereses</li></a></li>
                                            <li><a href="/usuarios/intereses/eliminar"><li>Eliminar Intereses</li></a></li>
                                        </ul>
                                    </nav>
                                    <br>
                                    <nav class="navbar_horflex nav-estilo-productos">
                                        <ul style="border: 1px solid purple; padding: 3px;">
                                            <li><a href="/productos/listar"><li>Listar Productos</li></a></li>
                                            <li><a href="/productos/productoAgregar">Productos - Agregar</a></li>
                                            <li><a href="/productos/productoModificar">Productos - Modificar</a></li>
                                            <li><a href="/productos/productoDelete">Productos - Eliminar</a></li> 
                                        </ul>
                                        <ul style="border: 1px solid purple; padding: 3px;">
                                            <li><a href="/productos/linea/listar"><li>Listar Líneas</li></a></li>
                                            <li><a href="/productos/linea/agregar"><li>Agregar Líneas</li></a></li>
                                            <li><a href="/productos/linea/modificar"><li>Modificar Líneas</li></a></li>
                                            <li><a href="/productos/linea/eliminar"><li>Eliminar Líneas</li></a></li>
                                        </ul>
                                    </nav>
                                </nav>
                                             
                    </nav>
                </div>
                
                <div class="login-registro">
                    <a href="/usuarios/login">Logging</a>    
                    <a href="/usuarios/logout">Salir</a>   
                    <a href="/usuarios/registro">Registrate</a>
                    <a href="/productos/carrito">Mi Carrito<i class="fas fa-cart-plus"></i></a>
                    
                        
                    
                </div>
    
            </div>
    
            <div class="menu-burger">
                <i class="fas fa-bars"></i>
            </div>
    
            <div class="buscador">
                <form method="POST" action="/productos/buscar">
                    <input class="buscador-input" type="text" name="buscado" placeholder="Que producto buscas?"></input>
                    <button type="submit" ><i class="fas fa-search"></i></button>
                </form>
            </div>
            
        </header>
                 
        <main class="register">
            <!--
            <section>
                <img  class="banner" src="/images/banner-juntos.png" alt="Banner de prueba">
            </section>
            -->
            
            <center style="background-color:lightblue;">
                <h3> Gestión de Usuarios - Modificar Usuario</h3>

                <form action="/usuarios/modificarSeleccionar" method="POST">
                    
                    <div class="flex-vertical">
                        <label for="todosLosUsuarios">Seleccione el Usuario a Modificar</label>
                        <select name="todosLosUsuarios" id="todosLosUsuarios" required>
                            <option><span>Seleccioná un usuario</span></option>
                                <% if ( todosLosUsuarios == null ) { %>
                                    <p class="feedback">Seleccioná un usuario</p>
                                <% } else { %>
                                <% for ( let i = 0; (todosLosUsuarios.length - i) > 0; i++ ) { %> 
                                    <option><span><%= todosLosUsuarios[i].usuario %></span></option>
                                <% } %>
                            <% } %>    
                        </select>
                    </div>

                    <button type="submit" value="enviar">Seleccionar</button>
                </form>        
                                
                <form action="/usuarios/modificarGrabar" method="POST">
                    <div class="flex-vertical">
                        <label>Usuario</label>
                        <% if( usuarioSeleccionado != undefined ) { %>
                            <input type="text" name="user" value="<%= usuarioSeleccionado.usuario %>">
                        <% } else { %>
                            <input type="text" name="user" value="<% locals.datosAnteriores.user %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.user != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.user.msg %></p>
                                <% } %>    
                            <% } %>
                        <% } %>

                        <label>Dirección de E-mail</label>
                        <% if( usuarioSeleccionado != undefined ) { %> 
                            <input type="email" name="email" value="<%= usuarioSeleccionado.email %>">
                        <% } else { %>    
                            <input type="email" name="email" value="<% locals.datosAnteriores.email %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.email != undefined ) { %>
                                    <p class="feedback"><%= resultadoValidaciones.email.msg %></p>
                                <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    
                    <div class="flex-vertical">
                        <h4>Perfil del usuario</h4>
                        <div class="perfil">
                            <% if( usuarioSeleccionado != undefined ) { %>
                                <% for( let i = 0; (perfiles.length - i) > 0; i++ ) { %>
                                    <input type="radio" name="perfil" value="<%= perfiles[i].id_perfil %>" id="<%= perfiles[i].id_perfil %>">
                                    <label for="<%= perfiles[i].nombre %>"><%= perfiles[i].nombre %></label>
                                <% } %>
                            <% } else { %>
                                <% for( let i = 0; (perfiles.length - i) > 0; i++ ) { %>
                                    <input type="radio" name="perfil" value="<%= perfiles[i].id_perfil %>" id="<%= perfiles[i].id_perfil %>">
                                    <label for="<%= perfiles[i].nombre %>"><%= perfiles[i].nombre %></label>
                                <% } %>
                                <% if ( locals && locals.resultadoValidaciones ) { %>
                                    <% if ( resultadoValidaciones.perfil != undefined ) { %>
                                        <p class="feedback"> <%= resultadoValidaciones.perfil.msg %></p>
                                    <% } %>    
                                <% } %>
                            <% } %>    
                        </div>
                    </div>
                
                    <div class="flex-vertical">
                        <h4>Intereses</h4>
                        <div class="intereses">
                            <% if( usuarioSeleccionado != undefined ) { %>
                                <% for( let i = 0; (intereses.length - i) > 0; i++ ) { %>
                                    <input type="checkbox" name="intereses" value="<%= intereses[i].id_intereses %>" id="<%= intereses[i].id_intereses %>">
                                    <label for="hogar"><%= intereses[i].nombre %></label>
                                <% } %>
                            <% } else { %>
                                <% for( let i = 0; (intereses.length - i) > 0; i++ ) { %>
                                    <input type="checkbox" name="intereses" value="<%= intereses[i].id_intereses %>" id="<%= intereses[i].id_intereses %>">
                                    <label for="hogar"><%= intereses[i].nombre %></label>
                                <% } %>
                                <% if ( locals && locals.resultadoValidaciones ) { %>
                                    <% if ( resultadoValidaciones.intereses != undefined ) { %>
                                        <p class="feedback"> <%= resultadoValidaciones.intereses.msg %></p>
                                    <% } %>
                                <% } %>    
                            <% } %>
                        </div>
                    </div>
                
                    <div class="flex-vertical">
                        <label>Elegí una Contraseña</label>    
                        <% if( usuarioSeleccionado != undefined ) { %>   
                            <input type="password" name="pass" value="<% usuarioSeleccionado.pass %>">
                        <% } else { %> 
                            <input type="password" name="pass" value="<% locals.datosAnteriores.pass %>">        
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.pass != undefined ) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.pass.msg %></p>
                                <% } %>
                            <% } %>        
                        <% } %>
                        <label>Reingresá la Contraseña</label>
                        <% if( usuarioSeleccionado != undefined ) { %>   
                            <input type="password" name="pass_confirm" value="<% locals.datosAnteriores.pass_confirm %>">
                        <% } else { %> 
                            <input type="password" name="pass_confirm" value="<% locals.datosAnteriores.pass_confirm %>">
                            <% if ( locals && locals.resultadoValidaciones ) { 
                                if ( resultadoValidaciones.pass_confirm != undefined) { %>
                                    <p class="feedback"> <%= resultadoValidaciones.pass_confirm.msg %></p>
                                <% } %>
                            <% } %>    
                        <% } %>
                    </div>       
                        
                    <div>
                        <input type="checkbox" name="privacidad" id="privacidad">
                        <label for="privacidad">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</label>
                        <% if ( locals && locals.resultadoValidaciones ) {
                            if ( resultadoValidaciones.privacidad != undefined )  { %>
                                <p class="feedback"> <%= resultadoValidaciones.privacidad.msg %></p>
                            <% } %>
                        <% } %>
                    </div>
                  
                    <button type="submit" value="enviar">Grabar</button>
                    <button type="reset" value="limpiar">Limpiar</button>         
                </form>
    
            </center>
            
        </main>
    </body>
        <%- include( './partials/footer.ejs' ) %>
</html>