<!DOCTYPE html>
<html lang="en">
      
    <%- include('./partials/head.ejs'); -%>
    
<header>
    <% if ( usuarioLogueado != undefined ) { %>
        
        <% if ( usuarioPerfil == 'Administrador' ) { %>
            <%- include('./partials/header-Admin.ejs'); -%>
            
            <% } else if ( usuarioPerfil == 'Vendedor' ) { %>
                <%- include('./partials/header-Vendedor.ejs'); -%>

                <% } else if ( usuarioPerfil == 'Comprador' ) { %>
                    <%- include('./partials/header-Comprador.ejs'); -%>

                    <% } else { %> <!-- es invitado -->
                        <div class="dentro-header">
                            <img class="logo" src="/images/logo-prueba-prueba.png" alt="logo">
                    
                            <div class="nav-bar">
                                <nav><!--nav> style="justify-content: space-around;"> -->
                                    <%- include('./partials/nav-general.ejs'); -%>                                         
                                </nav>
                            </div>
                    
                            <%- include('./partials/nav-usuarios.ejs'); -%>    
                        </div>
                <% } %>

    <% } else { %> <!-- usuario no loqueado -->
        <%- include('./partials/header.ejs'); -%>
    <% } %>  
</header>          
    
<body> 
    
    <main class="flex-vertical">
        <div class="flex-vertical">
                <table  style="border: 1px solid violet; border-collapse: collapse; padding: 3px;">
                    <thead  style="border: 1px solid violet; border-collapse: collapse; text-align: center; padding: 5px;">
                        <tr style="border: 1px solid violet; text-align: left; padding: 5px;">
                            <div style=" background-color: rgb(236, 214, 241); border-radius: 5px; padding: 3px;"><h3><p>Resultados de tu Búsqueda</p></h3></div>
                        </tr>
                        <tr  style="border: 1px solid violet;  border-collapse: collapse; text-align: left; padding: 5px;">
                            <td  style="border: 1px solid violet;  border-collapse: collapse; text-align: left; padding: 5px;">Id</td>
                            <td  style="border: 1px solid violet;  border-collapse: collapse; text-align: left; padding: 5px;">Nombre</td>
                            <td  style="border: 1px solid violet;  border-collapse: collapse; text-align: left; padding: 5px;">Descripción</td>
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid violet; border-collapse: collapse; padding: 3px;">
                        <% for( let i = 0; (productosEncontrados.length - i) > 0; i++) { %>
                            <tr style="border: 1px solid violet; text-align: left; padding: 5px;">
                                <td style="border: 1px solid violet; text-align: left; padding: 5px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"><p><strong><%= productosEncontrados[i].idPrd %>)_</strong></a></td>
                                <td style="border: 1px solid violet; text-align: left; padding: 5px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"><p><strong><%= productosEncontrados[i].nombre %> </p></strong></a></td>
                                <td style="border: 1px solid violet; text-align: left; padding: 5px;"><p><strong><%= productosEncontrados[i].descripcion %></p></strong></td>
                                <td style="border: 1px solid violet; text-align: left;padding: 5px;"><a href="/productos/detalle/<%= productosEncontrados[i].idPrd %>"" alt="Producto Detallado"><img style="width: 39px;" src="<%= productosEncontrados[i].foto %>" alt="Foto de Producto"></a></td>
                                <td style="border: 1px solid violet; text-align: left;padding: 5px;">
                                    <div>
                                        <a href='/usuarios/carrito/agregarItem/<%= productosEncontrados[i].idPrd %>'>
                                        <i id="iconos-prod" class="fas fa-cart-plus"></i></a> 
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            
        </div>
    </main>
    
    <%- include( './partials/footer.ejs' ); -%>

</body>
</html>